deploy/n8n/workflows/lead-intake.json
{
  "name": "Lead Desk — Inbound intake → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook (lead-intake)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "lead-intake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-PROJECT.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_ANON_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.body.name, company: $json.body.company, email: $json.body.email, phone: $json.body.phone, stage: $json.body.stage || 'New', value: $json.body.value || 0, source: $json.body.source || 'n8n', owner: $json.body.owner, next_action: $json.body.next_action, notes: $json.body.notes }) }}",
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, lead: $json }) }}",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Webhook (lead-intake)": { "main": [[{ "node": "Insert into Supabase", "type": "main", "index": 0 }]] },
    "Insert into Supabase": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
